* {
  box-sizing: border-box;
}

.container {
  width: 85%;
  max-width: 1290px;
  margin: 0 auto;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  color: #222;
}

html {
  border-top: 15px solid #222;
}

h1, h2 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.2;
  margin: 1em 0 .66em 0;
  padding-bottom: 28px;
}

.App-title {
  text-align: center;
}